<p id="notice"><%= notice %></p>

<h1>Reading from Bureau of Meteorology Australia</h1>

<table border="1">
  <thead>
    <tr>
      <th>Station</th>
      <th>Date/time</th>
      <th>Temperature (째C)</th>
      <th>Rainfall since 9am(mm)</th>
      <th>Dew Point (째C)</th>
      <th>Wind Speed (km/h)</th>
      <th>Wind Direction</th>
    </tr>
  </thead>

  <tbody>
    <% @tablebom.each do |sr| %>
      <tr>
        <td><%= sr.station.name %></td>
        <td><%= sr.time.in_time_zone("Melbourne") %></td>
        <td><%= sr.temperature %></td>
        <td><%= sr.rainfall %></td>
        <td><%= sr.dewPoint %></td>
        <td><%= sr.windSpeed %></td>
        <td><%= sr.windDirection %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Reading from forecast.io</h1>

<table border="1">
  <thead>
    <tr>
      <th>Station</th>
      <th>Date/time</th>
      <th>Temperature (째C)</th>
      <th>Rainfall since 9am (mm)</th>
      <th>Dew Point (째C)</th>
      <th>Wind Speed (km/h)</th>
      <th>Wind Direction</th>
    </tr>
  </thead>

  <tbody>
    <% @tablefio.each do |sr| %>
      <tr>
        <td><%= sr.station.name %></td>
        <td><%= sr.time.in_time_zone("Melbourne") %></td>
        <td><%= sr.temperature %></td>
        <td><%= sr.rainfall %></td>
        <td><%= sr.dewPoint %></td>
        <td><%= sr.windSpeed %></td>
        <td><%= sr.windDirection %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>