<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table border="1">
  <thead>
    <tr>
      <th>Station ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Last Update</th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |s| %>
      <tr>
        <td><%= s.stationID %></td>
        <td><%= s.geolocation.latitude %></td>
        <td><%= s.geolocation.longitude %></td>
        <td><%= s.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>